.sec{
    display: flex;
    justify-content: center;
    padding: 20px;
 }
 .container{
     border: 2px solid aliceblue;
     padding: 50px ;
     margin: 30px 0;
    /* position: relative; */
     border-radius: 10px;
     background-color:black ;
     color: aliceblue;
     
     
 }
 /* input[type = radio]:checked{
     background-color: red;
     border-color: red;
 } */
 .row5{
     /* position: absolute;
     right:0;
     bottom: 1%; */
     display: flex;
     justify-content: flex-end;
     font-size: 15px;
 }
 .row{
    
     padding:10px 20px;
 }
 .content span{
     margin: 10px;
 }
 .row span{
     margin: 10px;
     text-transform: uppercase;
 }
 .show{
     padding: 20px;
     border:1px solid rgb(113, 108, 108);
     margin: 20px 0;
     border-radius: 10px;
     color:red;
     font-size: 30px;
     display: inline-block;
     font-family: 'Keania One', cursive;

 }
 .card{
     border-radius: 10px;
     border: 1px solid aliceblue;
     padding: 10px;
 }
 .show1{
     font-size: 15px;
    
 }
 .row:nth-child(3){
     display: inline-block;
 }
 .border{
     padding: 20px;
     border:6px solid rgb(199, 209, 217);
     text-align: center;
     border-radius: 5px;
 }
 input[type=radio]{
    accent-color:#ff0000;
 }



 
